.containerComic{
  padding: 30px 0 80px 0;
  min-height: calc(100vh - 116px);
  display: flex;
  align-items: center;
  justify-content: center;
  & > .col{
    width: 50%;
  }
  & > .col1 {
    display: flex;
    justify-content: center;
    & img{
      max-height: 500px;
      object-fit: contain;
    }
  }
  & > .col2 {
    & .react-tabs__tab-list{
      padding: 0;
    }
    & .react-tabs__tab{
      display: inline-block;
      list-style: none;
      padding: 8px 32px;
      border-radius: 100px;
      background-color: var(--color-main);
      color: var(--color-texto-boton);
      cursor: pointer;
      margin-top: 10px;
      border: 2px solid var(--color-main);
      transition: all ease .3s;
      &:hover{
        background: transparent;
        color: var(--color-main);
      }
    }
    & .react-tabs__tab--selected{
      display: none;
    }
  }
  @media (max-width: 1140px) {
    flex-direction: column;
    & > .col{
      width: 100%;
    }
  }
}