body{
  --main-bg-color: #f5f2f9;
  --color-logo: #000;
  --color-main: #8a0000;
  --color-titulo: #000;
  --color-texto: rgba(0,0,0, .6);

}
body.dark{
  --main-bg-color: #000;
  --color-logo:  #fff;
  --color-main:  #f7d703;
  --color-titulo: #fff;
  --color-texto: rgba(255,255,255, .5);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  background: var(--main-bg-color);
  transition: all ease .3s;
}
p, span{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5,h6, .typeTitle{
  font-family: 'Anton', sans-serif;
}
main{
  max-width: 1140px;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
