.containerComic{
  padding: 30px 0 80px 0;
  min-height: calc(100vh - 116px);
  display: flex;
  align-items: center;
  justify-content: center;
  & > .col{
    width: 50%;
  }
  & > .col1 {
    display: flex;
    justify-content: center;
    & img{
      max-width: 85%;
      max-height: 500px;
      object-fit: contain;
    }
  }
  & > .col2 {
    & .boton{
      display: inline-block;
      list-style: none;
      padding: 8px 32px;
      border-radius: 100px;
      background-color: var(--color-main);
      color: var(--color-texto-boton);
      cursor: pointer;
      margin-top: 10px;
      border: 2px solid var(--color-main);
      transition: all ease .3s;
      &:hover{
        background: transparent;
        color: var(--color-main);
      }
    }
  }
  @media (max-width: 1140px) {
    flex-direction: column;
    & > .col{
      width: 100%;
    }
  }
}

.containerDescription{
  & h1{
    position: relative;
    display: inline-block;
    color: var(--color-titulo);
    transition: all ease .3s;
    &::after{
      content: '';
      width: 30%;
      height: 3px;
      background: var(--color-main);
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: all ease .3s;
    }
  }
  & .containerInformation{
    display: flex;
    & p{
      width: 50%;
      margin: 10px 0;
    }
  }
  & p{
    color: var(--color-texto);
    transition: all ease .3s;
  }
}